@use '../abstracts' as *;

.header {
  height: 64px;
  position: sticky;
  top: 0;
  left: 0;

  background: rgba($white-100, 0.8);
  border-bottom: 1px solid $white-100;
  box-shadow: 5px 10px 10px rgba($gray-100, 0.4);
  backdrop-filter: blur(10px);

  margin-bottom: 1.5rem;

  &__title {
    font-size: 1.3rem;
    color: $primary-color;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: map-get($gap, 'lg');
    text-decoration: none;
    font-size: 1rem;

    span {
      color: $primary-color;
      font-weight: 800;
    }

    img {
      width: 36px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $gray-500;

    max-width: 1440px;
    height: 100%;
    padding: 0 map-get($padding, 'lg');
    margin: 0 auto;
  }

  &__nav--list {
    display: flex;
    gap: 1.5rem;

    :hover {
      font-weight: bold;
      color: $gray-700;
    }
  }
}
