@use '../../abstracts' as *;

.post {
  height: 355px;
  position: relative;
  background-color: $gray-200;
  border-radius: map-get($border-radius, 'md');
  overflow: hidden;
  cursor: pointer;

  &__thumbnail {
    width: 100%;
    height: 200px;

    object-fit: cover;
  }

  &__section {
    width: 100%;
    padding: map-get($padding, 'xl');
    position: absolute;
    left: 0;
    bottom: 0;
  }

  /* **************** HEADER **************** */
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: map-get($font-sizes, 'md');
  }

  &__date {
    font-size: map-get($font-sizes, 'xs');
  }

  /* **************** CONTENTS **************** */
  &__contents {
    width: 100%;

    margin-top: map-get($margin, 'lg');

    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    align-self: flex-end;

    gap: map-get($gap, 'xl');

    font-size: map-get($font-sizes, 'xs');
  }

  &__button {
    cursor: pointer;
    border: none;
    border-radius: map-get($border-radius, 'xs');
    padding: map-get($padding, 'xxs') map-get($padding, 'md');
    background: none;

    &--delete {
      color: $red-500;
    }
  }

  /* **************** FOOTER **************** */
  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: map-get($gap, 'lg');
    margin-top: map-get($margin, 'sm');
    margin-bottom: map-get($margin, 'sm');

    &--img {
      width: 42px;
      height: 42px;
      color: transparent;
      background: $gray-400;
      border-radius: map-get($border-radius, 'full');
    }
  }

  &__author {
    font-size: map-get($font-sizes, 'xs');
  }
}
