@use '../../abstracts' as *;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 500px;
  margin: 0 auto;

  &__header {
    margin-bottom: map-get($margin, 'xxl');
  }

  &__contents {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: map-get($gap, 'lg');

    & :last-child {
      flex: 1;
    }
  }

  &__email,
  &__nickname {
    display: block;
    flex: 1;
  }

  &__img {
    width: 42px;
    height: 42px;
    background-color: $gray-300;
    border-radius: map-get($border-radius, 'full');
  }

  &__footer {
    width: 100%;
    text-align: right;
  }

  &__logout {
    display: flex;
    display: inline-block;
    font-size: map-get($font-sizes, 'xs');
  }
}
