@use '../../abstracts' as *;

.write__form {
  display: flex;
  flex-direction: column;
  gap: map-get($gap, 'md');
}

.write__textarea {
  &--title {
    &:not([rows]) {
      min-height: 100%;
    }
  }
}
